{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{%static 'subject.css'%}">
</head>
<body>
    <header class="navbar">
        <a href="{% url 'home'%}">Knowledge Loom</a>
        <div>
            <a href="#">About</a>
            <a href="{% url 'subjects'%}">Subjects</a>
        </div>
    </header>
    <section class="content">
        <h1>Subjects</h1>
    <ul>
        {%for subject in subjects%}
        
        <li><a href="{{subject.Subject}}">{{subject.Subject}}</a></li>
        {%endfor%}
    </ul>
    </section>
    <div class="footer">
        <div class="footer_content">
            <h2>Knowledge Loom</h2>
            <ul>
                <li><a href="#">About Us</a></li>
            </ul>
        </div>
        <div class="footer_content">
            <h2>Contact Us</h2>
            <ul>
                <li><a href="#">KnowledgeLoom@gmail.com</a></li>
                <li><a href="#">Open Dreams</a></li>
                <li><a href="#">683009013</a></li>
            </ul>
        </div>
        <div class="footer_content">
            <h2>Links</h2>
            <ul>
                <li><a href="{% url 'subjects%'}">Subjects</a></li>
            </ul>
        </div>
    </div>
    

</body>
</html>